@inherits ComponentBase

<section class="tech-card">
    @* <h3 class="tech-title">Technologies</h3> *@

    <table class="tech-table">
        @* <caption class="sr-only">List of technologies I use</caption> *@
        <thead>
        <tr>
            <th>Area</th>
            <th>Technology</th>
            <th>Experience</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tech-area">Operating Systems</td>
                <td>
                    <span class="tech-tag">Windows</span>
                    <span class="tech-tag">Linux</span>
                </td>
                <td class="tech-years">15+ years</td>
                <td>Windows as daily use, I tried Linux from curiosity.</td>
            </tr>
            <tr>
                <td class="tech-area">Analysis &amp; Design</td>
                <td>
                    @*                 <span class="tech-tag">Blazor</span>
                    <span class="tech-tag">Razor</span> *@
                    <span>-</span>
                </td>
                <td class="tech-years">4 years</td>
                <td>Designing new features, analysing problems and errors.</td>
            </tr>
            <tr>
                <td class="tech-area">Project Control</td>
                <td>
                    <span class="tech-tag">JIRA</span>
                    <span class="tech-tag">Confluence</span>
                    <span class="tech-tag">Plus4U</span>
                </td>
                <td class="tech-years">10+ years</td>
                <td>Code level tools used in delivering successful projects.</td>
            </tr>
            <tr>
                <td class="tech-area">Code Flow</td>
                <td>
                    <span class="tech-tag">GIT</span>
                    <span class="tech-tag">SVN</span>
                    <span class="tech-tag">DevOps CI/CD</span>
                </td>
                <td class="tech-years">10+ years</td>
                <td>Started with SVN, moved to GIT. Using AzureDevOps CI/CD pipelines on projects.</td>
            </tr>
            <tr>
                <td class="tech-area">Databases</td>
                <td>
                    <span class="tech-tag">MongoDB</span>
                    <span class="tech-tag">EntityFramework</span>
                    <span class="tech-tag">NHibernate</span>
                    <span class="tech-tag">MySQL</span>
                    <span class="tech-tag">SQLite</span>
                    <span class="tech-tag">RealmDB</span>
                    <span class="tech-tag">ACCESS</span>
                </td>
                <td class="tech-years">15+ years</td>
                <td>Databases I have worked on - the most usual being MongoDB and MSSQL (EntityFramework).</td>
            </tr>
            <tr>
                <td class="tech-area">Programming Languages</td>
                <td>
                    <span class="tech-tag">C#</span>
                    <span class="tech-tag">C/C++</span>
                    <span class="tech-tag">Java</span>
                    <span class="tech-tag">LUA</span>
                    <span class="tech-tag">Python</span>
                </td>
                <td class="tech-years">15+ years</td>
                <td>C# absorbed me even from young age, it's my favorite language number one. I have also touched Java and Python and for few years I tried to bring joy and good time to player on private World of Warcraft servers.</td>
            </tr>
            <tr>
                <td class="tech-area">Web Technologies</td>
                <td>
                    <span class="tech-tag">ASP.NET MVC</span>
                    <span class="tech-tag">ASP.NET API</span>
                    <span class="tech-tag">Blazor</span>
                    <span class="tech-tag">HTML</span>
                    <span class="tech-tag">CSS (SASS)</span>
                    <span class="tech-tag">JavaScript</span>
                    <span class="tech-tag">JQuery</span>
                </td>
                <td class="tech-years">10+ years</td>
                <td>I have tried many Web technologies in the ecosystem of .NET. I can also write JavaScript manually! I also like to use SASS over plain CSS.</td>
            </tr>
            <tr>
                <td class="tech-area">Mobile Technologies</td>
                <td>
                    <span class="tech-tag">Xamarin</span>
                    <span class="tech-tag">MAUI</span>
                    <span class="tech-tag">Avalonia</span>
                </td>
                <td class="tech-years">10+ years</td>
                <td>Even mobile development did not pass me, so I have tried what .NET offered.</td>
            </tr>
            <tr>
                <td class="tech-area">Game Technologies</td>
                <td>
                    <span class="tech-tag">Godot</span>
                    <span class="tech-tag">Unity</span>
                    <span class="tech-tag">TrinityCore</span>
                </td>
                <td class="tech-years">15+ years</td>
                <td>I have gathered many experiences in gaming development, especially at the start of my career on World of Warcraft emulator. Now I am passionate user of Godot.</td>
            </tr>
            <tr>
                <td class="tech-area">Other</td>
                <td>
                    <span class="tech-tag">JSON</span>
                    <span class="tech-tag">XML</span>
                    <span class="tech-tag">WPF</span>
                    <span class="tech-tag">WinForms</span>
                    <span class="tech-tag">Micro-controllers</span>
                    <span class="tech-tag">IoT</span>
                    <span class="tech-tag">AI</span>
                </td>
                <td class="tech-years">15+ years</td>
                <td>I also know some "old" technologies like WPF or even Windows Forms. My curiosity even led me to IoT and, chained with game development, to work on designing my own AI characters for my games.</td>
            </tr>
            <tr>
                <td class="tech-area">Currently Learning</td>
                <td>
                    <span class="tech-tag">AI</span>
                    <span class="tech-tag">Godot</span>
                    <span class="tech-tag">Cubernetes</span>
                    <span class="tech-tag">Docker</span>
                </td>
                <td class="tech-years">15+ years</td>
                <td>Smart person always learn, right?</td>
            </tr>
        </tbody>
    </table>
</section>